{
  "printWidth": 130,
  "tabWidth": 4,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
